body{
    background-color: #111111;
    text-color: #ffffff;
}

.form-title{
    margin-top: 20px;
    margin-bottom: 40px;
}

*{
    color: #dddddd;
}

.message-box{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.centered{
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}
