body{
    background-color: #111111;
    text-color: #ffffff;
}

h2{
    margin-top: 30px;
    margin-bottom: 60px;
}

h1,h2,h3,label{
    color: #dddddd;
}

.entering-form{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 90%;
}

.result-ok{
    width: 100%;
    background-color: green;
    color: white;
}
.result-error{
    width: 100%;
    background-color: red;
    color: white;
}
.result-default{
    width: 100%;
    display: none;
}
