#role{
    margin-top: 0px;
}
.role-good{
    background-color: #007000;
}
.role-bad{
    background-color: #700000;
}
#game-log{
    background-color: #303030;
}

#game-table{
    width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: separate;
    border-spacing: 0 10px;
}
#game-table tr{
    opacity: 100%;
}
#game-table th{
    background-color: rgba(50, 50, 50, 1);
    text-align: center;
    text-color: #ffffff;
}
#game-table td{
    background-color: rgba(50, 50, 50, 1);
    border-top: solid red;
    border-bottom: solid red;
    height: 50px;
}
#game-table .cell-spade{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
#game-table .left-row{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left: solid red;
    padding-left: 25px;
}
#game-table .right-row{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-right: solid red;
    padding-right: 25px;
}
.card{
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}


#card-box{
    width: 150px;
    vertical-align: center;
    position: relative
}
.card-box{
    width: 100%;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}
.card-box-img{
    height: 100%;
    opacity: 90%;
    position: absolute;
    vertical-align: middle;
    right: 50%;
}
.card-box-num{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(0%, -50%);
    font-size: 50px;
}