#role{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.role-good{
    background-color: #007000;
}
.role-bad{
    background-color: #700000;
}

#game-log{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #404040;
}

#game-table{
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 0 15px;
}

#game-table tr{
    height: 50px;
    background-color: #333333;
}
#game-table th{
    text-align: center;
    text-color: #ffffff;
    opacity: 90%;
}
.left-row{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 15px;
}
.right-row{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 15px;
}

.cell{
    height: 50px;
}

.cell-spade{
    border: none;
}

.card{
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#card-box{
    height: 100px;
}

.card-box-img{
    width: 100px;
    opacity: 30%;
    position: absolute;
    vertical-align: middle;
    right: 50%;
}

.card-box-num{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
}