body{
    background-color: #000000;
}

#role{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.role-good{
    background-color: #007000;
}
.role-bad{
    background-color: #700000;
}

#game-log{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #404040;
}

h2{
    color: #ffffff;
}

#game-table{
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#game-table th{
    text-align: center;
}

#game-table tr{
    height: 50px;
    background-color: #ffffff;
    opacity: 90%;
}

.cell{
    height: 50px;
}

.cell-spade{
    border: none;
}

.card{
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#card-box{
    height: 100px;
}

.card-box-img{
    width: 100px;
    opacity: 30%;
    position: absolute;
    vertical-align: middle;
    right: 50%;
}

.card-box-num{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
}